<!DOCTYPE html>
<html>
    <head>
        <title>Stalkr</title>
        <link rel="stylesheet" href="/static/stalkr.css">
    </head>
    <body>
        <div id="search">
            <form>
                <input type="text" id="query" name="query" autofocus />
            </form>
        </div>
        <ul id="synonyms"></ul>
        <div id="graph"></div>
        <div id="user"></div>
        <img id="load" src="/static/load.gif"></div>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/stalkr.js"></script>
    </body>
</html>
